:root {
   --toggler-width: 120px;
   --toggler-height: 40px;
   --toggler-bg-color: #2a4564;
   --toggler-active-bg-color: #2a4564;
   --menu-item-starting-top: 0px;
   --menu-item-ending-top: 45px;
   --menu-item-width: 200px;
   --menu-item-max-height: 200px;
   --menu-item-bg-color: #2a4564;
   --fade-from-color: transparent;
   --fade-to-color: black;
   --timeout: 350ms;
}

.tab-item {
   box-sizing: border-box;
   width: 100vw;
   height: 100vh;
   padding: 0 20px;
   overflow: hidden;
   border-radius: 5px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 500;
   backface-visibility: hidden;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
   transform: translateZ(0px);
}

.show-enter,
.show-appear {
   width: 0px;
   max-height: 20vh;
   color: var(--fade-from-color);
   background-color: var(--toggler-bg-color);
}

.show-enter-active,
.show-appear-active {
   width: 100vw;
   max-height: 100vh;
   background-color: var(--menu-item-bg-color);
   transition: all 1000ms;
}

.show-exit {
   width: 100vw;
   max-height: 50vh;
   background-color: var(--menu-item-bg-color);
}

.show-exit-active {
   width: 0px;
   max-height: 20vh;
   color: var(--fade-from-color);
   background-color: var(--toggler-bg-color);
   transition: all 1000ms;
}

.vijay {
   width: 100vw;
   max-height: 50vh;
   transition: all 1000ms;
}
