:root {
   --toggler-width: 120px;
   --toggler-height: 40px;
   --toggler-bg-color: #06c;
   --toggler-active-bg-color: #2a4564;
   --menu-item-starting-top: 0px;
   --menu-item-ending-top: 45px;
   --menu-item-width: 200px;
   --menu-item-max-height: 200px;
   --menu-item-bg-color: #337ab7;
   --fade-from-color: transparent;
   --fade-to-color: black;
   --timeout: 350ms;
}

.container {
   position: fixed;
   top: 650px;
}

.toggler {
   position: relative;
   left: 10px;
   z-index: 1;
   width: var(--toggler-width);
   height: var(--toggler-height);
   background-color: var(--toggler-bg-color);
   border: none;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
   transition: background-color 350ms;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.toggler--active {
   background-color: var(--toggler-active-bg-color);
}

.menu-item {
   position: absolute;
   top: var(--menu-item-ending-top);
   left: 10px;
   z-index: 1;
   box-sizing: border-box;
   width: var(--menu-item-width);
   height: var(--menu-item-height);
   padding: 0 20px;
   overflow: hidden;
   background-color: var(--menu-item-bg-color);
   border-radius: 5px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 500;
   backface-visibility: hidden;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
   transform: translateZ(0px);
}

.list {
   padding: 0;
   list-style-type: none;
}

.list-item {
   padding: 5px 0;
}

.list-item--active {
   color: white;
   transition: color 1500ms;
}

.list-item:hover {
   color: white;
   cursor: pointer;
}

.display-enter,
.display-appear {
   top: var(--menu-item-starting-top);
   width: var(--toggler-width);
   max-height: var(--toggler-height);
   color: var(--fade-from-color);
   background-color: var(--toggler-bg-color);
}

.display-enter-active,
.display-appear-active {
   top: var(--menu-item-ending-top);
   width: var(--menu-item-width);
   max-height: var(--menu-item-max-height);
   background-color: var(--menu-item-bg-color);
   transition: all 400ms;
}

.display-exit {
   top: var(--menu-item-ending-top);
   width: var(--menu-item-width);
   max-height: var(--menu-item-max-height);
   background-color: var(--menu-item-bg-color);
}

.display-exit-active {
   top: var(--menu-item-starting-top);
   width: var(--toggler-width);
   max-height: var(--toggler-height);
   color: var(--fade-from-color);
   background-color: var(--toggler-bg-color);
   transition: all 400ms;
}
